@import '../assets/lib.scss';


.productDisplay{
    display: flex;
    width: 90%;
    min-width: 90%;
    height: 90%;
    background:$bgColor1;
    justify-content: center;
    align-items: center;
    border: 1px solid $mainColor;
    border-radius: 20px;
    margin: 10px 10px;
}
.productDisplay img {
    width: 74%;
    max-height: 100%;
}
.selectButton{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.selectButton:hover{
    background-color: red;
}
