@import '../assets/lib.scss';


.imageSliderWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.productDisplayWrapper{
    display: flex;
    overflow: auto;
    flex: 1;
    scroll-snap-type: inline proximity;
    height: auto;
}
.productDisplayWrapper > * {
    scroll-snap-align: center;
}
.productDisplayWrapper::-webkit-scrollbar{
    display: none;
}
.productDisplay{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 90%;
    min-width: 90%;
    background: $bgColor1;
    border-radius: 20px;
    border: 1px solid $mainColor;
    padding-top: 10px;
    margin: 10px;
    font-size: 2rem;
    letter-spacing: 2px;
    color: $secColor;
    overflow: hidden;
}
.productDisplay img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 430px;
    position: relative;
    margin: auto;
}
.selectButtons{
    width: 0;
    height: inherit;
}
.selectButton{
    width: 50px;
    height:inherit;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: transparent;
}
#forward, #backwards{
    opacity: 0.2;
    transition: all 0.2s linear;
}
#forward:hover, #backwards:hover{
    opacity: 0.7;
}
#forward:active{
    transform: translateX(10px);
}
#backwards:active{
    transform: translateX(-10px);
}
#forward{
    right:50px;
}
.buttonIcons{
    pointer-events: none;
    color:$mainColor;
}

