@import '../assets/lib.scss';

.projectsContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: auto;
    width: 90%;
    background: $bgColor2;
    border: 1px solid $mainColor;
    border-radius: 20px;
}
.projectItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    height: 200px;
    width: 150px;
    background: $bgColor1;
    border-radius:20px;
    font-size: 0.8rem;
    padding: 15px 5px 0 5px;
    text-align: center;
}
.projectItem img {
    max-width: 90%;
    max-height: 70%;
    margin: auto;
}