@import './assets/lib.scss';

@font-face {
  font-family: 'BebasNeue';
  src: url(../src/assets/BebasNeue-Regular.ttf);
}

*{
  padding: 0;
  border: none;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'BebasNeue', system-ui;
}
.wrapper{
  position: relative;
  overflow: hidden;
}

a:visited{
  color: inherit;
}
.topBar{
  width: 100%;
  height: 40px;
  background: $bgColor1;  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topBar img {
  height: 95%;
  width: auto;
}
.deactive{
  display: none;
}
main {
  display: flex;
  width: 100vw;
  height: auto;
}
.imageWrapper{
  display:flex;
  width: 100%;
  height: auto;
  max-height: 500px;
  background: $bgColor2;
}
