@import './assets/lib.scss';

.wrapper{
  position: relative;
  overflow: hidden;
}

a:visited{
  color: inherit;
}
.topBar{
  width: 100%;
  height: $topBarHeight;
  background: $bgColor1; 
  position: fixed; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  }
.topBar img {
  height: 95%;
  width: auto;
}
.deactive{
  display: none;
}
main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  margin-top: $topBarHeight;
}
main a{
  background: $bgColor2;
  width: inherit;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
main a h1{
  color: $mainColor;
  letter-spacing: 5px;
}
.imageWrapper{
  display:flex;
  width: 100%;
  height: auto;
  max-height: 500px;
  background: $bgColor2;
}
.projectWrapper{
  display: flex;
  flex-direction: column;
  color: $mainColor;
  letter-spacing: 2px;
  gap: 10px;
  height: auto;
  width: 100%;
  background: $bgColor2;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}